{% extends "base.html" %}

{% block title %}
Password Changed
{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="card shadow-lg p-5 text-center mx-auto" style="max-width:600px;">

        <h2 class="text-success mb-3">
            ✅ Password Updated Successfully
        </h2>

        <p class="lead">
            Your password has been changed successfully.
        </p>

        <a href="{% url 'login' %}" class="btn btn-primary mt-3">
            Login Now
        </a>

    </div>

</div>

{% endblock %}